$swipeRightColor: palegreen;
$swipeLeftColor: palevioletred;

/*хедер 16++4.2*/
.Swipe-content {
    width: 95vmin;
    height: 75.8vmax;
    margin: 1vmax 2.5vmin;
    flex-direction: column;
    display: flex;
    font-family: "SF Text", serif;
}

.Swipe-content-up {
    height: 100%;
    background: #ccc;
    border-radius: 7.5vmin 7.5vmin 7.5vmin 7.5vmin;
}

.Swipe-content-down {
    position: absolute;
    bottom: 0;
    margin-bottom: 4vmin;
    z-index: 400;

    right: 0;
    margin-right: 4vmin;

    width: 87vmin;
    height: 14vmax;

    text-align: center;

    border-radius: 7.5vmin 7.5vmin 7.5vmin 7.5vmin;
    color: black;
    background: white;
    background-color: rgba(255,255,255, 0.9);
}

.Swipe-content-up img {
    width: 100%;
    height: 100%;
    border-radius: 7.5vmin 7.5vmin 7.5vmin 7.5vmin;
    object-fit: cover;
}

.choice-label{
    font-size: 6vmax;
}

.Swipe-content-up-labels{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 400;
}

.Swipe-left-label{
    z-index: 200;
    margin-right: 2vmax;
    margin-top: 12vmin;
    float: left;
    color: $swipeLeftColor;
    border: $swipeLeftColor solid 0.5vmax;
    border-radius: 1vmax;
    transform: rotate(45deg);
}

.Swipe-content-down-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.Swipe-content-down-center {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user {
    width: 100%;
}

.Swipe-content-down-center p:first-child {
    font-weight: 600;
    font-size: 4vmax;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Swipe-right-label{
    z-index: 200;
    color: $swipeRightColor;
    margin-left: 2vmax;
    margin-top: 12vmin;
    border: $swipeRightColor solid 0.5vmax;
    border-radius: 1vmax;
    float: right;
    transform: rotate(-45deg);
}

.Swipe-content-up-image {
    z-index: 100;
    display: block;
    width: 100%;
    height: 100%;
}

.Swipe-content-down-image{
    width:2.5vmax;
    height:2.5vmax;
    float: left;
}
