/*хедер*/ /*+4.2*/
.App-header
 {
    height: 14.79vmax;
    background-color: white;
    color: #ff4f4f;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "SF Text", serif;
}

/*6.3*/
.App-header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
    color: #FFFFFF;
    background-color: #ff4f4f;

    padding-top: 2vmax;
    margin-bottom: 1vmax;
    height: 6.49vmax;
}

/*5.3*/
.App-header-panelTitle {
    width: 100%;
    height: 5.3vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmax;
    position: relative;
}

.App-header-panelTitle img {
    position: absolute;
    right: 2.5vmin;
    top: calc(2.65vmax-8.825px);
}
/*конец хедера*/
