/*хедер*/
.App-header
 {
    height: 9vmax;
    background-color: white;
    color: #ff4f4f;;
     font-size: 4vmax;
     font-family: "Roboto";
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*конец хедера*/
