/*
Хедер 9%
Кнопки-переключатели 7%
Скролл - 12%
Лист - 65%
Боттом - 7%
*/
body {
    overflow: hidden;
}

/*навигационные кнопки*/
.NavigationButtons {
    width: 95vmin;
    height: 7vmax;
    margin: 0 2.5vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NavigationButtons button {
    width: 47.5vmin;
    height: 4.3vmax;
    color: black;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
    transition: 0.2s;
    box-shadow: none;
    border: none;
}

.NavigationButtonsActive {
    background: white;
}

.NavigationButtonsDefault {
    background: #9D9C9B;
}

.NavigationButtons button:first-child {
    border-radius: 4vmin 0 0 4vmin;
}

.NavigationButtons button:last-child {
    border-radius: 0 4vmin 4vmin 0;
}
/*конец навигационных кнопок*/

/*скролл список*/
.ScrollContainer {
    height: 12vmax;
    width: 95vmin;
    margin: 0 2.5vmin;
    display: flex;
    flex-direction: row;
    font-family: Arial;
    margin-bottom: 1vmax;

    overflow-x: scroll;
    overflow-y: hidden;
}

.ScrollContainerContent {
    height: 12vmax;
}

.ScrollPerson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(95vmin/4);
}

.ScrollPeopleImg {
    height: 9vmax;
    width: 9vmax;
    border-radius: 11vmin;
    object-fit: cover;
}
/*конец скролл списка*/

/* Список метчей */
.ListContainer {
    height: 65vmax;
    margin: 0 2.5vmin;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ListContainer::-webkit-scrollbar { width: 0;}

.Person {
    border-radius: 5vmin;
    border: 0.15vmin solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.75vmax;
    height: 10vmax;
}

.Person img {
    border-radius: 10vmin;
    margin-left: 0.5vmax;
    width: 8.5vmax;
    height: 8.5vmax;
    object-fit: cover;
}

.PersonData {
    height: 8vmax;
    margin-left: 1vmax;
    margin-top: 0.5vmax;
    margin-bottom: 0.5vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     font-size: 4.2vmin;
    font-family: Franklin Gothic Medium;
    letter-spacing: 0.5vmin;
}

.PersonPlacesList {
    overflow: hidden;
    white-space: pre;
}
/*конец списка метчей*/
