/*хедер и боттом 16% +4.2 от высоты*/

#grid {
    height: 84vmax;
    width: 100vmin;
    position: relative;
}

.Grid-eventList {
    margin-top: 1vmax;
    height: 71.21vmax;
    width: 97.5vmin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-right: 2.5vmin;
}

.Grid-eventCell {
    width: 30vmin;
    height: 25vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2.5vmin;
    margin-bottom: 1vmax;
}

.Grid-eventCell img{
    width: 30vmin;
    height: 25vmax;
    object-fit: cover;
    background: url("../../preloader.svg") center no-repeat;
}

.Filter {
    height: 3.6vmax;
    width: 94.2vmin;
    margin-left: 2.5vmin;
    margin-right: 2.5vmin;
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    border-radius: 20vmax;
    border-top: 0.2vmax solid grey;
    border-bottom: 0.2vmax solid grey;
    border-left: 0.4vmin solid grey;
    border-right: 0.4vmin solid grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Filter-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vmin;
    height: 100vmax;
    z-index: 1000;

    background-color: rgba(0,0,0,0.6);
}

.Filter-modal-content {

    margin-top: 20vmax;
    margin-left: 10vmin;

    width: 80vmin;
    height: 60vmax;

    background: white;

    display: flex;
    flex-direction: column;
}

.Filter-modal-header {
    margin-left: 7%;
    height: 10%;
    width: 86%;

    letter-spacing: 0.8vmin;
    font-size: 1.9em;
    color: #ff4f4d;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 0.19vmax #ff4f4d solid;
}

.Filter-modal-categoriesTitle {
    margin-left: 7%;
    margin-top: 2%;
    height: 8%;
    width: 86%;

    font-size: 1em;
    color: #ff4f4d;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Filter-modal-categoriesTitleBottomLine {
    margin-top: 2%;
    width: 80%;

    border-bottom: #ff4f4d solid 0.19vmax;
}

.Filter-modal-categories {
    margin-top: 3%;
    width: 86%;
    height: 65%;
    margin-left: 7%;

    font-size: 1.2em;
}

.Filter-modal-categories-item {
    height: 10%;
    width: 100%;
    margin-bottom: 6%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.Filter-modal-categories-item-checkbox {
    margin-right: 4%;

    border-radius: 20vmax;
}

.Filter-modal-categories-item-checkbox-active {
    height: 2.08vmax;
    width: 2.08vmax;
    background: #ff4f4d;
    border: none;
}

.Filter-modal-categories-item-checkbox-disabled {
    height: 1.7vmax;
    width: 1.7vmax;
    background: white;
    border: solid grey 0.19vmax;
}

.Filter-modal-buttonOK {
    margin-left: 15%;
    margin-top: 2%;
    height: 6%;
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.19vmax grey solid;
    border-radius: 20vmax;
}
