/*хедер и боттом 16+1.59+4.2 от высоты*/

#matches {
    max-height: 100vmax;
    font-family: "SF Text", serif;
}

/*Заголовок навигационных кнопок*/
.Head, .Dialogues {
    display: flex;
    align-items: center;
    width: 95vmin;
    height: 2.3vmax;
    margin: 1vmax 2.5vmin;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    font-size: 2.3vmax;
    font-weight: bold;
}

.Dialogues {
    padding-bottom: 0;
}
/*конец навигационных кнопок*/

/*навигационные кнопки*/
.NavigationButtons {
    width: 95vmin;
    height: 4.45vmax;
    margin: 0 2.5vmin;
    margin-bottom: 1.5vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NavigationButtons button {
    width: 47.5vmin;
    height: 4.3vmax;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
    transition: 0.2s;
    box-shadow: none;
    border: none;
    border-top: 0.15vmax solid grey;
    border-bottom: 0.15vmax solid grey;
}

.NavigationButtonsActive {
    background: white;
    color: #ff4f4d;
}

.NavigationButtonsDefault {
    background: #ff4f4d;
    color: white;
}

.NavigationButtons button:first-child {
    border-radius: 4vmin 0 0 4vmin;
    border-left: 0.15vmax solid grey;
}

.NavigationButtons button:last-child {
    border-radius: 0 4vmin 4vmin 0;
    border-right: 0.15vmax solid grey;
}
/*конец навигационных кнопок*/

/*скролл список*/
.ScrollContainer {
    height: 12vmax;
    width: 95vmin;
    margin: 0 2.5vmin;
    display: flex;
    flex-direction: row;
    margin-bottom: 1vmax;

    overflow-x: scroll;
    overflow-y: hidden;
}

.ScrollContainerContent {
    height: 12vmax;
}

.ScrollPerson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(95vmin/4);
    position: relative;
}

.Cirle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vmax;
    position: absolute;
    right: 4vmin;
    bottom: 4.5vmin;
    width: 5vmin;
    height: 5vmin;
    background: #ff4f4d;
    color: white;
    font-size: 2vmax;
}

.ScrollPeopleImg {
    height: 9vmax;
    width: 9vmax;
    border-radius: 11vmin;
    object-fit: cover;
}
/*конец скролл списка*/

/* Список метчей */
.ListContainer {
    height: 53.71vmax;
    width: 90vmin;
    margin: 0 5vmin;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 0.5vmax;
}

.ListContainer::-webkit-scrollbar { width: 0;}

.PersonContainer {
    border-bottom: 1px solid #ff4f4d;
    width: 100%;
    margin-top: 1.7vmax;
}

.ListContainer .PersonContainer:first-child {
    margin-top: 0;
}

.Person {
    display: flex;
    flex-direction: column;
    min-height: 10.2vmax;
    width: 100%;
    position: relative;
}

.Person .avatar {
    border-radius: 10vmin;
    width: 8.5vmax;
    height: 8.5vmax;
    object-fit: cover;

    position: absolute;
    top: 0;
}

.Person .message {
    height: 5.1vmax;
    width: 5.1vmax;
    position: absolute;
    right: 0;
}

.Person .messageTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
}

.messageTitle img {
    width: 5.1vmax;
    height: 5.1vmax;
}

.messageTitle p {
    color: #FF4F4F;
    font-size: 10px;
    line-height: 12px;
    font-family: "SF Text", serif;
}

.Person .personData {
    height: 8vmax;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "SF Text", serif;
}

.Person .personData .name, .Person .personData .events {
    margin-left: 10vmax;
}

.Person .personData .events {
    color: #000000;
    font-size: 12px;
    line-height: 14px;
}

.Person .personData .name {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 1vmax;
}

.Person .arrow {
    margin-bottom: 0.85vmax;
}

.Person .arrowActive {
    transform: scale(1, -1);
}

.Person .eventsContainer {
    margin-top: 2vmax;
    margin-bottom: 1.4vmax;
    height: 20.5vmax;
    width: 90vmin;

    overflow-x: scroll;
    overflow-y: hidden;
    display: none;

}

.events {
    display: flex;
    flex-direction: row;
}

.eventContainer {
    height: 100%;
    width: 24.7vmin;
    margin-left: 2.5vmin;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.events .eventContainer:first-child {
    margin-left: 0;
}

.eventContainer .poster {
    width: 100%;
    height: 18vmax;
    margin-bottom: 0.5vmax;
    border-radius: 16px;
    position: relative;
}

.eventContainer .poster .annotation {
    position: absolute;
    bottom: 0.625vmax;
    left: 0;
    height: 3.125vmax;
    width: 86.6%;
    margin-left: 6.7%;
    margin-right: 6.7%;
    display: flex;
    flex-direction: column;
}

.eventContainer .poster .annotation p {
    color: #FFFFFF;
    font-size: 1.5625vmax;
    font-style: normal;
    font-weight: normal;
    font-family: "SF Text", serif;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eventContainer .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 4vmax 4vmax 4vmax #575555 inset;
}

.eventContainer .name {
    width: 100%;
    height: 2.5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventContainer .name p {
    font-size: 9px;
    font-style: normal;
    font-weight: normal;
    font-family: "SF Text", serif;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*конец списка метчей*/
