/*хедер и боттом 16% от высоты*/

#matches {
    max-height: 100vmax;
}

/*Заголовок навигационных кнопок*/
.Head {
    display: flex;
    align-items: flex-start;
    width: 86vmin;
    height: 3.5vmax;
    margin: 0 7vmin;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    font-family: Roboto;
    font-size: 3vmax;
    font-weight: bold;
}

.Dialog {
    border-top: 0.15vmin solid #ff4f4d;
}
/*конец навигационных кнопок*/

/*навигационные кнопки*/
.NavigationButtons {
    width: 95vmin;
    height: 4.45vmax;
    margin: 0 2.5vmin;
    margin-bottom: 1.5vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NavigationButtons button {
    width: 47.5vmin;
    height: 4.3vmax;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
    transition: 0.2s;
    box-shadow: none;
    border: none;
    border-top: 0.15vmax solid grey;
    border-bottom: 0.15vmax solid grey;
}

.NavigationButtonsActive {
    background: white;
    color: #ff4f4d;
}

.NavigationButtonsDefault {
    background: #ff4f4d;
    color: white;
}

.NavigationButtons button:first-child {
    border-radius: 4vmin 0 0 4vmin;
    border-left: 0.15vmax solid grey;
}

.NavigationButtons button:last-child {
    border-radius: 0 4vmin 4vmin 0;
    border-right: 0.15vmax solid grey;
}
/*конец навигационных кнопок*/

/*скролл список*/
.ScrollContainer {
    height: 12vmax;
    width: 95vmin;
    margin: 0 2.5vmin;
    display: flex;
    flex-direction: row;
    font-family: "Roboto";
    margin-bottom: 1vmax;

    overflow-x: scroll;
    overflow-y: hidden;
}

.ScrollContainerContent {
    height: 12vmax;
}

.ScrollPerson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(95vmin/4);
    position: relative;
}

.Cirle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vmax;
    position: absolute;
    right: 4vmin;
    bottom: 4.5vmin;
    width: 5vmin;
    height: 5vmin;
    background: #ff4f4d;
    color: white;
    font-size: 2vmax;
}

.ScrollPeopleImg {
    height: 9vmax;
    width: 9vmax;
    border-radius: 11vmin;
    object-fit: cover;
}
/*конец скролл списка*/

/* Список метчей */
.ListContainer {
    height: 54vmax;
    margin: 0 2.5vmin;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 0.5vmax;
}

.ListContainer::-webkit-scrollbar { width: 0;}

.PersonContainer:last-child .Person{

}

.PersonContainer:last-child .BottomLine {

}

.Person {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    height: 13vmax;
}

.BottomLine {
    margin: 0vmax 7.5vmin;
    width: 80vmin;
    padding: 0.15vmin;
    background: #ff4f4d;
}

.Person img {
    border-radius: 10vmin;
    margin-left: 0.5vmin;
    width: 8.5vmax;
    height: 8.5vmax;
    object-fit: cover;
}

.PersonData {
    height: 8vmax;
    margin-left: 1vmax;
    margin-top: 0.5vmax;
    margin-bottom: 0.5vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     font-size: 4.2vmin;
    font-family: "Roboto";
    letter-spacing: 0.5vmin;
}

.PersonPlacesList {
    overflow: hidden;
    white-space: pre;
}
/*конец списка метчей*/
