/*хедер и боттом 16% от высоты*/
$height2: 100vmax;
#people {
    max-height: $height2;
    font-family: "SF Text", serif;
}

.spinner-preloader-forPeople {
    width: 100%;
    height: 78.21vmax;
}

.spinner-preloader-forPeople img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}



